@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*------------------------------start Header-----------------------------------------*/

header {
    background-color: #4F2B9A;
}

nav {
    color: #ffffff;
    display: flex;
    width: 1100px;
    height: 48px;
    margin: auto;
    justify-content: space-between ;
   
   /* background-color: rgb(34, 23, 196); */
    
}

.logo {
    text-transform: uppercase;
    font-size: 24px;

}

.menu {
    display: flex;
    font-size: 18px;
    

}

li {
    list-style: none;
    margin-right: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;

}

/*------------------------------------------------------start Section Hrlo-----------------------------------*/

.helo {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


   /* background-color: blue; */
}

.helo-text-box {
    color: #ffffff;
}

.helo-button {
    display: flex;
}

.helo-bt-getStarted {
background-color: rgb(224, 22, 22);
padding: 8px 20px;
border-radius: 30px;
margin-right: 20px;
}

.helo-bt-watch {
    display: flex;
    align-items: center;
}

.helo-image {
    
}


/*---------------------------------------------------------------------------------------------*/


.pricing{
    width: 1100px;
    margin: auto;

    background-color: #6dea7e;
}

.pricing-boxs {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 40px;


}

.pricing-boxs--text {
    background-color: #6dea7e;
    width: 30%;

    padding: 20px;
    box-shadow: 0px 0px 5px 0.5px;
    border-radius: 5px;

}

.text-h1 {
    color: #6dea7e;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
}

.text param {
    color: #4F2B9A;
    text-align: center;
}

/*---------------------------------------------------------------------------------------*/

.members {
    background-color: #4F2B9A;
    padding: 50px 0px;
}

.members-box {
    width: 1100px;
    margin: auto;

    background-color: rgb(230, 234, 237);

    padding: 1px 40px 40px;
    box-shadow: 0px 0px 5px 0.5px #888888;
    border-radius: 5px;
}

table {
    border: 1px solid #f31124;
    border-collapse: collapse;
    width: 80%;
    margin: auto;

    border-radius: 5px 5px 5px 5px;
}

th ,td {
    border: 1px solid #f31124;
}

th {

}
 td {

 }
